html {
    background: url("stadion.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#menusor {
    position: -webkit-sticky;
}
#Menu li {
    display: inline;
}

#Menu a {
    padding-left: 0;
    text-decoration: none;
    font-size: xx-large;
    color: black;
    padding: 20px;
    font-family: Calibri;
}



#erdekessegek {
    font-family: Arial;
    padding: 20px 0px 0px 0px;
    color: black;
    text-align: center;
    font-weight: bold;
}

#meghat {
    padding: 0 0 0 60px;
}

#ceg {
    font-family: Arial;
    padding: 20px 0px 0px 60px;
}

#foglal {
    padding: 0 0 0 150px;
}

#tortenelem, #sikerek{
    text-align: center;
    color: black;
    background-color: lightsteelblue;
}

#lista {
    text-align: center;
    color: black;
    font-weight: bold;
    list-style-type: none;
}

#regi {
    height: 450px;
    width: auto;
    margin: auto;
    display: block;
}

#2body {
    color: deepskyblue;
}

#tbody1 {
    color: black;
    font-weight: bolder;
}




th {
    padding: 10px;
}

td {
    padding: 6px;
}


table tbody { height:300px; overflow-y:scroll; display:block; }
table thead { display:block; }

#divek {
    width: fit-content;
    height:190px;
    padding-top:20px;
    padding-left:60px;
    padding-right:15px;
}

#meccsdiv {
    float:left;
    width:180px;
    height:200px;
}

#nezodiv {
    float:left;
    width:180px;
    height:200px;
    margin-left:480px;

}

#belepesdiv {
    float:right;
    width:180px;
    height:200px;
    margin-left: 280px;

}

#hozzaad {
    font-weight: bold;
    color: white;
}

/*#meccsdiv {
    padding-left: 60px;

}

#nezodiv {
    padding-left: 60px;
}

#belepesdiv {
    padding-left: 60px;
}*/


