<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belépés</title>
    <link rel="stylesheet" type="text/css" href="../static/Style.css" media="screen,print">
</head>
<body class="body" id="3body">
<nav id="menusor" class="menu">
    <ul id="Menu">
        <li><a href="Home.html">Kezdőlap</a></li>
        <li><a href="Meccseink.html">Meccseink</a></li>
        <li><a href="Belepes.html">Belépés</a></li>
        <li><a href="Regisztracio.html">Regisztráció</a></li>
        <li><a href="Kapcsolatok.html">Kapcsolatok</a></li>
    </ul>
</nav>
</body>
</html>