<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Kezdőlap</title>
    <link rel="stylesheet" th:href="@{/Style.css}">
</head>
<body class="body" id="1body">
<nav id="menusor" class="menu">
    <ul id="Menu">
        <li><a th:href="@{/}">Kezdőlap</a></li>
        <li><a th:href="@{/Kapcsolatok}">Kapcsolatok</a></li>
        <span sec:authorize="isAnonymous()">
           <li> <a th:href="@{/login}">Bejelentkezés</a></li>
        </span>
        <span sec:authorize="isAuthenticated()">
            <li><a th:href="@{/meccseink}">Meccseink</a></li>

            <li><a th:href="@{/logout}">Kijelentkezés</a></li>
        </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <li><a th:href="@{/admin/home}">Admin</a></li>
        </span>
        <span sec:authorize="isAnonymous()">
            <li><a th:href="@{/Regisztracio}">Regisztráció</a></li>
        </span>
    </ul>
</nav>
<div class="div" id="ceg">
    <p><h3>Cégünk 2019-ben alakult meg Stadion Világ néven. Alapító tagjaink
    Dobos Bence és Dóczi Dávid</h3></p>
    <p id="meghat"><h4>Foglalkozunk:</h4></p>
    <ul id="foglal">
        <li>jegyeladással</li>
        <li>információközléssel</li>
        <li>üzemeltetéssel</li>
    </ul>
</div>
<div class="div" id="erdekessegek">

    <p><h3  id="tortenelem">Magyar válogatott megalakulása</h3>
    A fokozódó népszerűségnek is köszönhetően aztán 1901. január 19-én
        megalapították a Magyar Labdarúgó Szövetséget. Ezt követően egyenes
        útvezetett az első magyar foci bajnoksághoz is, amit egyébként a BTC nyert meg hibátlanul.</p>
    <p><h3  id="sikerek">A magyar labdarúgás története: a legnagyobb sikerek</h3>
    <ul id="lista">
        <li>1983-ban világbajnoki ezüstérmes</li>
        <li>1954-ben világbajnoki ezüstérmes</li>
        <li>1964-ben Európa bajnoki bronzérmes lett</li>
    </ul>
    </p>
</div>
<div class="div" id="kep">
    <img id="regi" th:src="@{/foci.jpg}">
</div>
</body>
</html>