<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meccseink</title>

    <link rel="stylesheet" type="text/css" th:href="@{/Style.css}" media="screen,print">
</head>
<body class="body" id="2body" >

<nav id="menusor" class="menu">
    <ul id="Menu">
        <span sec:authorize="isAuthenticated()">
        <li><a th:href="@{/}">Kezdőlap</a></li>
        </span>
        <li><a th:href="@{/Kapcsolatok}">Kapcsolatok</a></li>
        <span sec:authorize="isAnonymous()">
           <li> <a th:href="@{/login}">Bejelentkezés</a></li>
        </span>
        <span sec:authorize="isAuthenticated()">
            <li><a th:href="@{/Meccseink}">Meccseink</a></li>

            <li><a th:href="@{/logout}">Kijelentkezés</a></li>
        </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <li><a th:href="@{/admin/home}">Admin</a></li>
        </span>
        <span sec:authorize="isAnonymous()">
            <li><a th:href="@{/Regisztracio}">Regisztráció</a></li>
        </span>
        <li><a th:href="@{/uzenetek}">Üzenetek</a></li>
    </ul>
</nav>
<div id="meccsdiv">

    <h1>Meccsek</h1>
    <a href="/meccseink">Új meccs hozzáad</a>
    <br/><br/>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>datum</th>
            <th>kezdes</th>
            <th>belepo</th>
            <th>tipus</th>
        </tr>
        </thead>
        <tbody id="tbody1">
        <tr th:each="meccs : ${meccsek}">
            <td th:text="${meccs.id}"></td>
            <td th:text="${meccs.datum}"></td>
            <td th:text="${meccs.kezdes}"></td>
            <td th:text="${meccs.belepo}"></td>
            <td th:text="${meccs.tipus}"></td>
            <td>
                <a th:href="@{'/edit/'+${meccs.id}}">Edit</a>&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/'+${meccs.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
